.main {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Open Sans";
  .content {
    padding: 40px 20px;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    .close_button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      z-index: 11;
      transition: transform 0.3s linear;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s linear;
      }
    }
    .orders_wrapper {
      margin-top: 20px;
      width: 400px;
      table {
        width: 100%;
        th,
        td {
          text-align: center;
          img {
            height: 20px;
          }
        }
        .add_button {
          font-size: 20;
          font-weight: 700;
          cursor: pointer;
        }
      }
      .headers {
        width: 300px;
        justify-content: space-between;
        display: flex;
        margin-bottom: 10px;
        font-weight: 700;
      }
      .one_item {
        width: 300px;
        justify-content: space-between;
        display: flex;
        margin-bottom: 5px;
      }
      .one_input_wrapper {
        display: flex;
        flex-direction: column;
        input {
          width: 200px;
          height: 30px;
          border: none;
          border-bottom: 2px solid gray;
          outline: none;
        }
      }
      .basket_button {
        background-color: inherit;
        height: 42px;
        border-radius: 6px;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        cursor: pointer;
        font-weight: 700;
        outline: none;
        border: 2px solid #131313;
        color: #131313;
        width: 200px;
        transition: all 0.3s ease;
        &:hover {
          color: #ffffff;
          background-color: #131313;
          transition: all 0.3s ease;
        }
      }
    }
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
