.main {
  width: 250px;
  min-height: calc(100vh - 130px);
  background-color: #cacaca;
  .content {
    padding: 30px 20px;
    .location_info {
      margin-bottom: 30px;
      font-family: 'Open Sans', sans-serif;
      span {
        font-weight: 700;
      }
      p {
        margin: 10px;
      }
    }
  }
}
